body {
	text-align: center;
	width: 100%;
}

#wrap_outer,#wrap {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}

#container {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
}

/* - - - - - - - - - - - - - - - - - - - - 100% Height */
html,body {
	height: 100%;
}

#wrap_outer,#wrap {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - BG Options */
body.has_grid {
	background-image: url(/images/bg-grid.png);
	background-position: center top;
	background-repeat: repeat;
}

#wrap.has_shadow {
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------------------------- Header */
#header {
	width: 1000px;
	margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - Logo Block */
#logo_block {
	width: 940px;
	padding: 30px 30px 18px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
}

#logo_block.no_img {
	overflow: visible;
}

#logo_block.no_pad {
	width: 1000px;
	padding: 0;
	min-height: 40px;
}

h1#header_logo,#header_logo {
	float: left;
	font-size: 60px;
	line-height: 1.0;
	text-align: left;
	margin: 0;
	padding: 0;
}

#header_logo {
	background-position: 0 0;
	background-repeat: no-repeat;
}

.has_img #header_logo span {
	display: none;
}

.has_img a#header_logo {
	display: block;
	padding: 0;
}

#header_forms {
	width: 500px;
	position: absolute;
	top: 8px;
	right: 30px;
	z-index: 4;
	line-height: 11px;
	float: left;
	text-align: right;
}

#header_forms #header_newsletter,#header_forms #header_search {
	text-align: right;
	display: inline;
	padding-left: 8px;
}

#header_forms form {
	text-align: right;
	display: inline;
}

#header_forms button,#header_forms input {
	display: inline;
	font-size: 11px;
	line-height: 11px;
	height: 11px;
	margin: 0;
	padding: 0;
}

#header_forms input[type=text] {
	width: 144px;
	padding: 4px 2px;
	border-style: solid;
	border-width: 1px;
	text-transform: uppercase;
}

#header_forms input#header_search_text,#header_forms #header_search input[type=text]
	{
	width: 90px;
}

#header_forms button,#header_forms input[type=submit] {
	display: none;
	width: auto;
	padding: 1px 5px 0px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

/* - - - - - - - - - - - - - - - - - - - - Top Nav */
#top_nav {
	width: 940px;
	padding: 11px 30px;
	font-size: 18px;
	line-height: 1.0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,
		255, 255, 0.3) ), color-stop(1, rgba(255, 255, 255, 0) ) );
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0) );
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0) );
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0) );
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0) );
	text-transform: uppercase;
}

#top_nav_link {
	width: 780px;
	float: left;
	text-align: left;
}

#top_nav_link ul {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
}

#top_nav_link li {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	display: inline;
	padding: 2px 0;
}

#top_nav a {
	padding: 2px 0;
}

#top_nav li span.bul {
	padding: 2px 16px;
}

#top_nav_cart {
	width: 160px;
	float: right;
	text-align: right;
}

#top_nav_cart span.view_cart {
	padding-right: 10px;
}

#top_nav form#gift_cert_form,#top_nav form#gift_cert_form button {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
	border: 0 none;
	font-size: 18px;
	line-height: 1.0;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-transform: uppercase;
}

#top_nav form#gift_cert_form button {
	cursor: pointer;
	padding: 1px 0 0 0;
}

/* ------------------------------------------------------------- Shop Menu */
#shop_menu {
	text-align: left;
}

#shop_menu_top {
	font-size: 14px;
	padding: 10px 30px;
}

#shop_menu_top li {
	position: relative;
	top: 0;
	left: 0;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0 30px 0 0;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#shop_menu_top li.current-menu-item {
	font-weight: bold;
}

#shop_menu_top li span.tri_marker {
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -7px;
	display: block;
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #dddddd;
	font-size: 0px;
	line-height: 0px;
}

#shop_menu_sub {
	min-height: 19px;
	font-size: 13px;
	padding: 8px 30px;
}

#shop_menu_sub li {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	display: inline;
	padding: 0px 10px 0px 0px;
}

#shop_menu_sub li.first-cat-item {
	padding-left: 0;
}

#shop_menu_sub li.current-cat a {
	text-decoration: underline;
}

li#artist_menu ul {
	left: -8px;
}

/* ------------------------------------------------------------- Midsection */
#content {
	min-height: 300px;
	position: relative;
	margin: 20px 30px;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: left;
}

/* ------------------------------------------------------------- Footer */
#footer {
	clear: both;
	width: 940px;
	font-size: 11px;
	margin: 0 30px;
	text-align: left;
}

#footer_inner {
	padding: 15px 0 20px;
	border-top: 1px solid #ccc;
	width: 940px;
	position: relative;
	top: 0;
	left: 0;
}

#footer_inner .footer_box {
	width: 366px;
	float: left;
}

#footer_inner .footer_box.last {
	float: right;
}

#footer_navigation {
	margin-top: 2px;
}

#footer_navigation a {
	padding: 0px 4px 0px 0px;
}

#footer_badge {
	text-align: right;
}

#footer_copyright_text {
	font-size: 12px;
}

#footer_copyright_text p {
	margin-bottom: 3px;
}

/* =================================================================================== Pages */
/* ------------------------------------------------------------- Full Width Page */
#page_main.full_width {
	width: 940px;
	padding: 0;
	float: none;
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	height: auto;
}

/* ------------------------------------------------------------- Home & Products */
.shop_thumb {
	width: 175px;
	margin: 0 16px 36px 0;
	float: left;
	text-align: center;
}

.shop_thumb.col_5 {
	margin-right: 0;
}

a.shop_thumb_link,.shop_thumb_link {
	display: block;
	width: 175px;
}

.shop_thumb_img_holder {
	width: 175px;
	height: 175px;
}

.shop_thumb_img_holder img {
	margin: 0 auto;
}

.shop_thumb_img_holder span.product_status {
	font-size: 11px;
	padding: 4px 8px 3px;
	position: absolute;
	top: 10px;
	left: -3px;
	z-index: 5;
	text-align: center;
	text-transform: uppercase;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.shop_thumb_title,.shop_thumb_price {
	font-size: 12px;
	display: block;
	padding: 0 12px 2px;
	text-align: center;
}

.shop_thumb_title {
	font-weight: bold;
	padding-top: 14px;
}

/* - - - - - - - - - - - - - - - - - - - - Featured Three */
#featured .shop_thumb,.three_col_products .shop_thumb {
	width: 300px;
	margin: 0 20px 36px 0;
	float: left;
	text-align: center;
}

#featured .shop_thumb.col_3,.three_col_products .shop_thumb.col_3 {
	margin-right: 0;
}

#featured a.shop_thumb_link,#featured .shop_thumb_link,.three_col_products a.shop_thumb_link,.three_col_products .shop_thumb_link
	{
	width: 300px;
}

#featured .shop_thumb_img_holder,.three_col_products .shop_thumb_img_holder
	{
	width: 300px;
	height: 300px;
}

/* - - - - - - - - - - - - - - - - - - - - Featured Five */
.featured_extra {
	width: 940px;
	padding: 0 30px 16px;
	margin: 0 0 36px -30px;
}

.featured_extra .shop_thumb {
	margin-bottom: 0px
}

.featured_extra h2,#content .featured_extra h2 {
	font-weight: bold;
	font-size: 14px;
	padding: 16px 0;
	margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - Pagination */
#product_nav a,#product_nav span {
	padding-right: 14px;
}

#product_nav span.disabled {
	display: none;
}

#product_nav span.current {
	opacity: 0.3;
	filter: alpha(opacity =                         30);
}

/* ------------------------------------------------------------- Product Page */
.product #content {
	margin-bottom: 0;
}

.prev_next_text_links {
	position: absolute;
	width: 780px;
	margin: 0 80px;
	top: -36px;
	left: 0;
}

/* - - - - - - - - - - - - - - - - - - - - Product Images */
#product_images {
	width: 300px;
	float: left;
	margin: 0 80px 18px;
}

#product_images .image_wrap {
	width: 300px;
	height: 300px;
	text-align: left;
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
}

#product_images .image_wrap a.zoom_plus {
	display: none;
	width: 31px;
	height: 31px;
	background: url(zoom-plus.png) no-repeat center center;
	position: absolute;
	top: -15px;
	left: -15px;
}

#product_images .image_wrap:hover a.zoom_plus {
	display: block;
}

#product_images .image_wrap a.zoom_plus span {
	display: none;
}

#product_images .product_img {
	width: 300px;
	display: none;
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
}

#product_images .product_img img {
	margin: 0 auto;
}

#product_images .product_img.active {
	display: block;
	z-index: 5;
}

#product_images .product_img img {
	max-width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - Product Title */
#product_details {
	width: 380px;
	float: left;
	margin: 0 0 18px 20px;
}

#content .product_title_container h2.entry_title {
	margin-bottom: 0;
	font-size: 22px;
}

#content .product_title_container h4.entry_price {
	padding: 0;
	margin-bottom: 10px;
	font-size: 14px;
}

.for_cart_container {
	margin-bottom: 23px;
}

#content .for_cart_container form {
	margin: 0;
}

#content .for_cart_container select {
	width: auto;
	min-width: 150px;
	background-color: #ffffff;
	line-height: 2.0em;
	height: 2.0em;
	margin-bottom: 10px;
}

#content .for_cart_container #product-options {
	margin-bottom: 7px;
}

#content .button_container.qty {
	margin: 0 0 12px 0;
}

#content .for_cart_container button#product_addtocart,#content button.checkout_btn
	{
	font-size: 14px;
	text-transform: uppercase;
	padding: 12px 18px;
}

#inventory {
	margin: 0 0 23px 0;
}

/* - - - - - - - - - - - - - - - - - - - - Product Labels */
.product_label .product_status {
	font-size: 11px;
	padding: 4px 8px 3px;
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	display: inline-block;
	*display: inline;
	zoom: 1;
}

/* - - - - - - - - - - - - - - - - - - - - Info */
.info {
	padding: 10px 0 20px;
}

/* - - - - - - - - - - - - - - - - - - - - Image Nav */
.images_nav {
	margin: 10px 0 0 0;
	display: block;
}

#content .images_nav ul.images_list {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	text-align: left;
}

#content ul.images_list li {
	margin: 0 10px 10px 0;
	padding: 0;
	display: inline-block;
	height: 75px;
	*display: inline;
	zoom: 1;
}

#content .images_nav ul.images_list li a {
	display: block;
}

/* - - - - - - - - - - - - - - - - - - - - Other Products */
h5.other_product_title,.other_product_title {
	border: none;
}

h5.other_product_title,div.other_product_title h5 {
	padding: 0;
	margin: 0;
}

h5.other_product_title,div.other_product_title {
	margin-top: 11px;
	margin-bottom: 9px;
}

h5.other_product_title a,.other_product_title a {
	font-weight: bold;
}

.other_product_thumb {
	margin: 0 16px 36px 0;
}

/* ------------------------------------------------------------- Cart */
h3#checkout_total {
	font-weight: normal;
}

#content table#cart_table,#content table#cart_table thead,#content table#cart_table td,#content table#cart_table th,#content #cart_table tbody tr.row_alt th,#content #cart_table tbody tr.row_alt td,#content table,#content table td,#content table th
	{
	border: 0 none;
}

#content table#cart_table thead {
	background-image: none;
}

#content table#cart_table thead th#head_item {
	padding-left: 17px;
}

/* ------------------------------------------------------------- Contact */
#contact_content {
	width: 940px;
}

#border_shift {
	width: 940px;
	right: 470px;
}

#border_shift_return {
	width: 940px;
	left: 470px;
}

#contact_left,#contact_right {
	width: 340px;
	float: left;
	margin: 0 140px 40px 60px;
}

#contact_right {
	margin: 0 0 40px 0;
}

#content #contact_content textarea,#content #contact_content input[type=text],#content #contact_content input[type=password],#content #contact_content input[type=file]
	{
	width: 320px;
}

#content #contact_content input#captcha {
	width: 140px;
}

#content #contact_content select {
	width: 340px;
}

#content #contact_content button#contact_submit {
	display: block;
}

/* ------------------------------------------------------------- Custom Pages */
body.custom #content,body.contact #content {
	margin-top: 40px;
}

/* =================================================================================== Colorbox */
#colorbox,#cboxOverlay,#cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
	overflow: visible;
}

#cboxLoadedContent {
	overflow: auto;
}

#cboxLoadedContent iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
	cursor: pointer;
}

#cboxOverlay {
	background: #fff;
}

#colorbox {
	
}

#cboxContent {
	margin-top: 32px;
}

#cboxLoadedContent {
	background: #000;
	padding: 1px;
}

#cboxLoadingGraphic {
	background: url(cb-loading.gif) center center no-repeat;
}

#cboxLoadingOverlay {
	background: #000;
}

#cboxTitle {
	position: absolute;
	top: -22px;
	left: 0;
	color: #000;
}

#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px;
}

#cboxSlideshow,#cboxPrevious,#cboxNext,#cboxClose {
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -20px;
	background: url(cb-controls.png) 0 0 no-repeat;
}

#cboxPrevious {
	background-position: 0px 0px;
	right: 44px;
}

#cboxPrevious.hover {
	background-position: 0px -25px;
}

#cboxNext {
	background-position: -25px 0px;
	right: 22px;
}

#cboxNext.hover {
	background-position: -25px -25px;
}

#cboxClose {
	background-position: -50px 0px;
	right: 0;
}

#cboxClose.hover {
	background-position: -50px -25px;
}

.cboxSlideshow_on #cboxPrevious,.cboxSlideshow_off #cboxPrevious {
	right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
	background-position: -75px -25px;
	right: 44px;
}

.cboxSlideshow_on #cboxSlideshow.hover {
	background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
	background-position: -100px 0px;
	right: 44px;
}

.cboxSlideshow_off #cboxSlideshow.hover {
	background-position: -75px -25px;
}

/* =================================================================================== Content Forms */
button,input[type=submit],input[type=button],input[type=reset],#content button,#content input[type=submit],#content input[type=button],#content input[type=reset]
	{
	width: auto;
	overflow: visible;
	padding: 8px 10px;
	border: none;
	font-size: 12px;
	line-height: 1.0;
	cursor: pointer;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

button,input[type=submit],input[type=button],input[type=reset],#content button,#content input[type=submit],#content input[type=button],#content input[type=reset],button:hover,input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover,#content button:hover,#content input[type=submit]:hover,#content input[type=button]:hover,#content input[type=reset]:hover
	{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,
		255, 255, 0.5) ), color-stop(1, rgba(255, 255, 255, 0) ) );
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0) );
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0) );
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0) );
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0) );
	-webkit-box-shadow: inset -1px -2px 0px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset -1px -2px 0px rgba(255, 255, 255, 0.2);
	box-shadow: inset -1px -2px 0px rgba(255, 255, 255, 0.2);
}

/* =================================================================================== Content Typography */
/* - - - - - - - - - - - - - - - - - - - - */
body,input,textarea,select,option {
	font-size: 12px;
}

.up_one_font {
	font-size: 13px;
}

.up_two_font {
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	font-weight: normal;
}

h1.entry_title,h2.entry_title,h3.entry_title {
	padding-top: 0;
	margin-bottom: 22px;
}

p.coming_soon,#product_nav {
	padding-top: 10px;
	font-size: 14px;
}

#info a,body.custom #page_main a,.success #page_main a {
	text-decoration: underline;
}

/* - - - - - - - - - - - - - - - - - - - - Font */
body,input,textarea,button {
	font-family: Helvetica, Arial, sans-serif, 微软雅黑, 宋体;
	font-weight: normal;
}

#header_logo,h1 #header_logo {
	font-family: Helvetica, Arial, sans-serif, 微软雅黑, 宋体;
	font-weight: normal;
}

#top_nav,#content .product_title_container h2.entry_title,#top_nav form#gift_cert_form,#top_nav form#gift_cert_form button,h2#cart_title
	{
	font-family: Helvetica, Arial, sans-serif, 微软雅黑, 宋体;
	font-weight: normal;
}

/* =================================================================================== Default Colours */
/* @gui Window Background */
body {
	background-color: #e2e2e2;
}

form {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

label {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

/* @gui Page Background */
#wrap,div#maint_text,h3.one_moment {
	background-color: #ffffff;
}

#shop_menu_top li span.tri_marker {
	border-bottom-color: #ffffff;
}

#content #inventory li {
	color: #ffffff;
}

/* @gui Header Background */
#header,#shop_menu_top,.featured_extra {
	background-color: #efefef;
}

/* @gui Page Menu Background */
#top_nav {
	background-color: #252525;
}

/* @gui Shop Title */
#header_logo,#header_logo a {
	color: #000000;
}

/* @gui Headers and Product Titles */
a .shop_thumb_title,a .shop_thumb_price,#shop_menu_top a:hover,#shop_menu_top .current-menu-item a,h1,h2,h3,h4,h5,h6
	{
	color: #000000;
}

/* @gui Text */
body {
	color: #737373;
}

/* @gui Subtle Text */
.featured_extra,.featured_extra h2,.featured_extra a,.featured_extra a .shop_thumb_title,.featured_extra a .shop_thumb_price,#content #inventory h3
	{
	color: #999999;
}

#content #inventory .bar {
	background-color: #999999;
}

/* @gui Page Menu Link */
#top_nav,#top_nav a,#top_nav form#gift_cert_form button,body.contact #top_nav .main_shop_link a,body.custom #top_nav .main_shop_link a
	{
	color: #ffffff;
}

/* @gui Page Menu Link Hover */
#top_nav a:hover,#top_nav li.current-page-item a,#top_nav .has_items a,#top_nav .main_shop_link a,#top_nav form#gift_cert_form button:hover,body.contact #top_nav .main_shop_link a:hover,body.custom #top_nav .main_shop_link a:hover,#featured a .shop_thumb_title
	{
	color: #ef2f58;
}

/* @gui Category Menu Link */
#shop_menu,#shop_menu a {
	color: #222222;
}

/* @gui Category Menu Link Hover */
#shop_menu #shop_menu_top a:hover,#shop_menu #shop_menu_top .current-menu-item a
	{
	color: #ef2f58;
}

/* @gui Link */
a {
	color: #999999;
}

/* @gui Link Hover */
a:hover,#footer a:hover {
	color: #ef2f58;
}

/* @gui Product Status Label Text */
.product_label,.shop_thumb_img_holder span.product_status {
	color: #ffffff;
}

/* @gui Product Sale Label Background */
.product_label .product_status.sale,.shop_thumb.sale .shop_thumb_img_holder span.product_status
	{
	background-color: #ef2f58;
}

/* @gui Product Sold Out Label Background */
.product_label .product_status.sold,.shop_thumb.sold .shop_thumb_img_holder span.product_status
	{
	background-color: #222222;
}

/* @gui Product Coming Soon Label Background */
.product_label .product_status.soon,.shop_thumb.soon .shop_thumb_img_holder span.product_status
	{
	background-color: #999999;
}

/* @gui Button Text */
button,input[type=submit],input[type=button],input[type=reset],#content button,#content input[type=submit],#content input[type=button],#content input[type=reset]
	{
	color: #ffffff;
}

/* @gui Button Background */
button,input[type=submit],input[type=button],input[type=reset],#content button,#content input[type=submit],#content input[type=button],#content input[type=reset]
	{
	background-color: #000000;
}

/* @gui Button Hover Background */
button:hover,input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover,#content button:hover,#content input[type=submit]:hover,#content input[type=button]:hover,#content input[type=reset]:hover
	{
	background-color: #444444;
}

/* @gui Input and Cart Row Background */
#content #cart_table tbody tr.row_alt th,#content #cart_table tbody tr.row_alt td,#content table thead,#content table tfoot,#content textarea,#content input[type=text],#content input[type=password],#content input[type=file]
	{
	background-color: #fbfbfb;
}

/* @gui Borders */
blockquote p,.linebreak,#content table#cart_table,#content table#cart_table thead,#content table#cart_table td,#content table#cart_table th,#content #cart_table tbody tr.row_alt th,#content #cart_table tbody tr.row_alt td,#content table,#content table td,#content table th,#footer_inner,textarea:hover,input[type=text]:hover,input[type=password]:hover,input[type=file]:hover,#content textarea:hover,#content input[type=text]:hover,#content input[type=password]:hover,#content input[type=file]:hover,textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=file]:focus,#content textarea:focus,#content input[type=text]:focus,#content input[type=password]:focus,#content input[type=file]:focus,h3.one_moment
	{
	border-color: #b8b8b8;
}

hr {
	background-color: #b8b8b8;
}

hr {
	color: #b8b8b8;
}

/* @gui Subtle Borders */
fieldset,textarea,input[type=text],input[type=password],input[type=file],#content fieldset,#content textarea,#content input[type=text],#content input[type=password],#content input[type=file],#border_shift,#product_share_container
	{
	border-color: #cccccc;
}

#content #inventory li {
	background-color: #cccccc;
}

/* @gui Footer */
#footer,#footer a {
	color: #aaaaaa;
}

#login-box {
	width: 333px;
	padding: 176px 76px 0 76px;
	color: #211922;
	font: 12px Arial, Helvetica, sans-serif, "宋体";
	margin-left: auto;
	margin-right: auto;
}

.login-box h2 {
	padding: 0;
	margin: 0;
	color: #211922;
	font: bold 24px Arial, Helvetica, sans-serif, "宋体";
}

.login-box-name {
	float: left;
	display: inline;
	width: 80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin-top: 6px;
	font-size: 12px;
}

.login-box-field {
	float: left;
	display: inline;
	width: 230px;
	margin-top: 12px;
}

.login-box-error {
	float: right;
	display: inline;
	width: 80px;
	text-align: left;
	padding: 14px 10px 0 0;
	margin: 12px 0 7px 0;
	font-size: 12px;
}

#login-box-login {
	float: right;
	display: inline;
	width: 150px;
	margin: 12px 0 7px 0;
}

#login-box-register {
	float: left;
	display: inline;
	width: 150px;
	margin: 12px 0 7px 0;
}

.login-box-left {
	float: left;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	margin: 12px 0 7px 0;
}

.login-box-right {
	float: right;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	margin: 12px 0 7px 0;
}

.login-box-center {
	float: left;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	margin: 12px 0 7px 0;
}

.form-login {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color: #eeeeee;
	font-size: 16px;
	color: #211922;
}

.login-box-options {
	clear: both;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

p.fieldset_info {
	height: 15px;
	text-align: right;
	color: rgb(128, 128, 128);
	line-height: 14px;
	padding-top: 2px;
	font-size: 10px;
	font-weight: normal;
	float: right;
}

p.fieldset_actions {
	height: 15px;
	text-align: right;
	color: rgb(128, 128, 128);
	line-height: 14px;
	padding-top: 2px;
	font-size: 10px;
	font-weight: normal;
	float: right;
}

p.fieldset_info span.divider {
	margin: 0px 9px;
	color: rgb(221, 221, 221);
}

p.fieldset_info a.upgrade {
	margin-top: -2px;
}

div.upgrade a.upgrade {
	margin-top: 5px;
}

p.fieldset_actions {
	width: 50px;
	margin-left: 4px;
	position: relative;
}

p.fieldset_actions span.working {
	margin: -1px 2px 0px 0px;
	float: right;
}

p.fieldset_actions span.saved {
	margin: -1px 2px 0px 0px;
	float: right;
}

div.fieldset_tabs {
	height: 18px;
	margin-bottom: 6px;
	float: right;
}

fieldset {
	background: rgb(245, 245, 245);
	padding: 16px 18px 9px;
	border: currentColor;
	margin-bottom: 36px;
	position: relative;
}

fieldset legend {
	display: none;
}

fieldset dl {
	width: 100%;
	float: left;
}

fieldset dt {
	padding: 16px 18px 15px 0px;
	width: 144px;
	text-align: right;
	color: rgb(128, 128, 128);
	line-height: 15px;
	clear: both;
	font-size: 11px;
	font-weight: normal;
	border-top-color: rgb(229, 229, 229);
	border-top-width: 1px;
	border-top-style: solid;
	float: left;
	display: inline;
}

fieldset dt em {
	color: rgb(128, 128, 128);
	font-style: normal;
	font-weight: normal;
}

fieldset dd {
	padding: 12px 0px;
	width: 522px;
	border-top-color: rgb(229, 229, 229);
	border-top-width: 1px;
	border-top-style: solid;
	float: left;
}

fieldset dl.solo {
	padding-top: 16px;
	border-top-color: rgb(229, 229, 229);
	border-top-width: 1px;
	border-top-style: solid;
}

fieldset dd.solo {
	padding: 15px 0px 9px;
}

fieldset dt.first {
	border: currentColor;
	padding-top: 6px;
}

fieldset dd.first {
	border: currentColor;
	padding-top: 2px;
}

fieldset dd.firstsolo {
	border: currentColor;
	padding-top: 5px;
}

fieldset dl.shift {
	display: inline;
}

fieldset dl.shift dd {
	width: 522px;
	padding-left: 162px;
}

fieldset input {
	margin: 0px;
	padding: 2px;
	width: 432px;
}

fieldset input[type='hidden'] {
	padding: 0px;
	display: none;
}

fieldset input.radio {
	margin: 2px 4px 0px 1px;
	padding: 0px;
	width: auto;
	vertical-align: top;
	float: none;
}

fieldset input.checkbox {
	margin: 2px 4px 0px 1px;
	padding: 0px;
	width: auto;
	vertical-align: top;
	float: none;
}

fieldset input.button {
	margin: 2px 4px 0px 1px;
	padding: 0px;
	width: auto;
	vertical-align: top;
	float: none;
}

fieldset ul input.radio {
	margin-right: 7px;
	float: left;
}

fieldset ul input.checkbox {
	margin-right: 7px;
	float: left;
}

fieldset dd.firstsolo select {
	margin: -3px 1px 0px 2px;
}

fieldset dd.solo select {
	margin: -3px 1px 0px 2px;
}

fieldset input.holder {
	color: rgb(170, 170, 170);
}

fieldset textarea {
	padding: 2px;
	width: 432px;
	height: 144px;
	overflow: auto;
	margin-bottom: 0px;
}

textarea.code {
	border: 2px solid rgb(229, 229, 229);
	width: 676px;
	height: 405px;
	font-family: Monaco, monospace;
	font-size: 11px;
}

fieldset p {
	width: 100%;
	text-align: left;
	color: rgb(128, 128, 128);
	line-height: 16px;
	padding-top: 7px;
	clear: both;
	font-size: 11px;
	float: left;
}

fieldset p.note {
	margin: 0px;
	width: 432px;
	color: rgb(153, 153, 153);
	line-height: 13px;
	font-size: 9px;
}

fieldset ol {
	list-style: none;
	width: 100%;
	margin-top: 2px;
	float: left;
}

fieldset ul {
	list-style: none;
	width: 100%;
	margin-top: 2px;
	float: left;
}

fieldset li {
	padding: 1px 0px;
	line-height: 17px;
	clear: both;
	font-size: 11px;
	float: left;
}

fieldset ul label {
	width: auto;
	text-align: left;
	color: rgb(51, 51, 51);
	line-height: 17px;
	font-size: 11px;
	font-weight: bold;
	display: inline;
}

fieldset p label {
	width: auto;
	text-align: left;
	color: rgb(51, 51, 51);
	line-height: 17px;
	font-size: 11px;
	font-weight: bold;
	display: inline;
}

fieldset dd label {
	width: auto;
	text-align: left;
	color: rgb(51, 51, 51);
	line-height: 17px;
	font-size: 11px;
	font-weight: bold;
	display: inline;
}

fieldset ul label {
	float: left;
}

fieldset dd.disabled label {
	color: rgb(153, 153, 153);
}

fieldset dd a {
	line-height: 17px;
}

fieldset ul label span {
	color: rgb(128, 128, 128);
	font-size: 9px;
	font-weight: normal;
}

fieldset ul .note {
	color: rgb(128, 128, 128);
	font-size: 9px;
	font-weight: normal;
}

fieldset iframe {
	width: 522px;
	height: 30px;
	float: left;
}

fieldset.full p {
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 1em;
	width: 648px;
}

fieldset.full h4 {
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 1em;
	width: 648px;
}

fieldset p.full {
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 1em;
	width: 648px;
}

fieldset.full h4 {
	color: rgb(51, 51, 51);
	line-height: 21px;
	padding-bottom: 6px;
	font-size: 13px;
	font-weight: bold;
}

form h4 {
	color: rgb(51, 51, 51);
	line-height: 21px;
	padding-bottom: 6px;
	font-size: 13px;
	font-weight: bold;
}

fieldset.full ul {
	margin: 0px 54px;
	width: auto;
	padding-bottom: 1.2em;
}

fieldset.full li {
	color: rgb(128, 128, 128);
	line-height: 18px;
	float: none;
}

#fieldset_message {
	background: rgb(235, 235, 235);
	margin: 2px 0px 16px;
	padding: 12px 0px;
	width: 100%;
	clear: both;
}

#fieldset_message p {
	margin: 0px 18px;
	padding: 0px;
	width: auto;
	text-align: center;
	color: rgb(51, 51, 51);
	line-height: 16px;
	font-size: 11px;
	font-weight: bold;
	float: none;
}

.on_sale {
	padding-top: 3px;
	padding-left: 20px;
	float: left;
}

#product_options dl {
	clear: both;
}

#product_options dl dt {
	padding-bottom: 17px;
}

#product_options dl dd input[type='text'] {
	width: 92px;
	float: left;
}

#product_options dd#base_price {
	position: relative;
}

#product_options dd#base_price .infield {
	left: 5px;
	top: 5px;
	color: rgb(153, 153, 153);
	font-size: 9px;
	font-weight: normal;
	position: absolute;
	cursor: text;
}

#option_new label.infield {
	left: 5px;
	top: 5px;
	color: rgb(153, 153, 153);
	font-size: 9px;
	font-weight: normal;
	position: absolute;
	cursor: text;
}

#product_options dd#base_price .infield {
	top: 6px;
}

#product_options dl dt.first {
	margin-top: 4px;
}

#product_options dl dd.first {
	margin-top: 4px;
}

#product_options dl dd .on_sale {
	padding-left: 13px;
}

#product_options dl .inventory {
	margin-bottom: 10px;
}

#product_options dl dd.use_options {
	margin-bottom: 10px;
}

#product_options dl dd.inventory {
	width: 122px;
	clear: none;
	float: left;
}

#product_options dl dd.use_options {
	width: 122px;
	clear: none;
	float: left;
}

#product_options dl dd.inventory span {
	width: 9px;
	height: 24px;
	text-indent: -99999px;
	float: right;
	display: block;
}

#product_options dl dd.use_options {
	width: 398px;
}

#product_options dl dd.inventory_disabled.use_options {
	width: 536px;
	padding-left: 148px;
	margin-bottom: 11px;
}

#product_options dl dd a#use_options_btn {
	border-radius: 6px;
	margin-top: 1px;
	margin-left: 14px;
}

#product_options dl dd.use_options .note {
	width: auto;
	padding-top: 6px;
	clear: none;
	font-size: 10px;
	margin-left: 10px;
	float: left;
}

#product_options #options {
	overflow: hidden;
	clear: both;
	border-top-color: rgb(229, 229, 229);
	border-top-width: 1px;
	border-top-style: solid;
}

#product_options #options h3 {
	margin: -2px 18px 0px 0px;
	padding: 0px;
	top: 37px;
	width: 144px;
	text-align: right;
	color: rgb(128, 128, 128);
	font-size: 11px;
	float: left;
	position: relative;
	z-index: 1010;
}

#product_options #option_headers {
	width: auto;
	padding-top: 9px;
	padding-bottom: 1px;
}

#product_options #option_headers li {
	color: rgb(184, 184, 184);
	line-height: 11px;
	text-indent: 5px;
	clear: none;
	font-size: 9px;
	margin-right: 10px;
	float: left;
}

#product_options #option_headers li h5 {
	font-weight: normal;
}

#option_headers li.name {
	width: 184px;
}

#option_headers li.stock {
	width: 58px;
}

#option_headers li.price {
	width: 63px;
}

#option_list {
	width: 100%;
	padding-bottom: 16px;
	float: left;
	display: inline;
}

#option_list li {
	padding: 3px 0px;
	width: 100%;
	color: rgb(128, 128, 128);
	line-height: 13px;
	clear: both;
	float: left;
}

#option_list span {
	padding-top: 4px;
	margin-right: 10px;
	float: left;
	position: relative;
}

#option_list label {
	color: rgb(128, 128, 128);
	font-weight: normal;
}

#option_list input {
	margin-top: -4px;
	margin-left: 0px;
	vertical-align: top;
}

#option_list a.price.btn_edit {
	padding: 0px 6px;
	width: 88px;
	color: rgb(170, 170, 170);
	line-height: 24px;
	display: block;
	-webkit-border-radius: 6px;
}

#option_list a.price.btn_edit:hover {
	background-position: 0px -24px;
	color: rgb(119, 119, 119);
}

#option_list a.changed.price.btn_edit {
	color: rgb(51, 51, 51);
	font-weight: bold;
}

#option_list span a.done {
	top: 0px;
	width: 24px;
	height: 24px;
	right: 0px;
	text-indent: -99999px;
	display: block;
	position: absolute;
}

#option_list span a.done:hover {
	background-position: -200px -24px;
}

#option_list span a.delete:hover {
	opacity: 1;
}

#page_buttons {
	width: 468px;
	padding-bottom: 18px;
	clear: both;
	margin-left: 180px;
	float: left;
}

#page_buttons .button {
	float: left;
}

#page_buttons #btn_cancel {
	margin: 0px 0px 0px 3px;
}

ul#image_list {
	background: url("/images/admin/product_images_bg.gif?1313846023")
		no-repeat 0px 2px;
	margin: 0px 0px 0px 116px;
	width: 468px;
	text-align: center;
	float: left;
	display: inline;
}

ul#image_list li {
	list-style: none;
	margin: 2px 9px 0px 0px;
	padding: 0px 0px 16px;
	width: 83px;
	height: 102px;
	clear: none;
	float: left;
	display: inline;
	position: relative;
}

ul#image_list .product_image {
	width: 100%;
	height: 83px;
	margin-bottom: 2px;
	white-space: nowrap;
}

ul#image_list .product_image a {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(235, 235, 235);
	width: 79px;
	height: 79px;
	text-align: center;
	overflow: hidden;
	font-size: 0px;
	float: left;
}

ul#image_list .product_image a:hover {
	border-color: rgb(218, 218, 218);
}

ul#image_list .product_image a span.stilt {
	height: 79px;
	vertical-align: middle;
	display: inline-block;
}

ul#image_list .product_image img {
	margin: 2px;
	vertical-align: middle;
	display: inline;
}

ul#image_list li.primary .product_image a {
	border-color: rgb(142, 172, 26);
}

ul#image_list li.primary .product_image a:hover {
	border-color: rgb(112, 140, 0);
}

ul#image_list a.delete {
	right: 2px;
	margin-top: 3px;
	display: none;
	position: absolute;
}

ul#image_list img.dragger {
	right: 24px;
	margin-top: 3px;
	display: none;
	position: absolute;
}

ul#image_list .complete a.delete {
	display: inline;
}

ul#image_list .complete img.dragger {
	display: inline;
}

ul#image_list .available .product_image a {
	display: none;
}

ul#image_list .loading .product_image a {
	display: none;
}

ul#image_list .available .product_image {
	background: url("/images/product_images_holder.gif?1313846023")
		no-repeat 0px 0px;
}

ul#image_list .loading .product_image {
	background: url("/images/product_images_holder.gif?1313846023")
		no-repeat 0px -83px;
}

.pref_new {
	background: rgb(235, 235, 235);
	margin: 2px 0px 9px;
	padding: 18px 0px;
	width: 100%;
	color: rgb(128, 128, 128);
	line-height: 16px;
	clear: both;
	position: relative;
}

.image_selector {
	margin-left: 116px;
	float: left;
	position: relative;
}

p#uploader_note {
	background: rgb(235, 235, 235);
	width: 430px;
	padding-top: 5px;
	clear: none;
	font-size: 10px;
	margin-left: 12px;
	float: left;
}

button#btn_save {
	width: 90px;
	background-image: url("/images/admin/btn_save.gif?1320147560");
}
.job{
	padding: 10px 0px 10px 0px;
}
.job .title{
	color: #ef2f58;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}
.job .requirement{
	padding: 6px 0px;
}
.team{
	padding: 0px;
}
.team .member{
	padding: 0px 0px 6px 0px;
}
.team .member .name{
	font-weight: bold;
}
.about {
	padding: 0px;
}
.about .title{
	font-size: 16px;
	color: #ef2f58;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}